body {
  background-color: black;
  color: white;
}

.playlist .controls header {
  background-color: #377ba2;
  text-transform: capitalize;
}

.playlist .channel, .playlist .playlist-tracks {
  background: unset;
}


.playlist .vocals {
  background-color: #ea6360;
}

.playlist .drums {
  background-color: #e37d44;
}

.playlist .piano {
  background-color: #db9327;
}

.playlist .bass {
  background-color: #e3b544;
}

.playlist .other {
  background-color: #a5be64;
}


.btn-success {
    color: #fff;
    background-color: #a5be64;
    border-color: #a5be64;
}

.btn-danger {
    color: #fff;
    background-color: #ea6360;
    border-color: #ea6360;
}

.btn-warning {
    color: #fff;
    background-color: #db9327;
    border-color: #db9327;
}
